$color-aqua: #7fdbff !default;
$color-blue: #0074d9 !default;
$color-navy: #001f3f !default;
$color-teal: #39cccc !default;
$color-green: #2ecc40 !default;
$color-olive: #3d9970 !default;
$color-lime: #01ff70 !default;
$color-yellow: #ffdc00 !default;
$color-orange: #ff851b !default;
$color-red: #ff4136 !default;
$color-fuchsia: #f012be !default;
$color-purple: #b10dc9 !default;
$color-maroon: #85144b !default;
$color-white: #fff !default;
$color-silver: #ddd !default;
$color-gray: #aaa !default;
$color-black: #111 !default;
$color-grey: $color-gray;
