$color-ui: $color-silver !default;
$color-btn: $color-black !default;
$color-font: $color-black !default;
$color-link: $color-blue !default;
$color-muted: $color-gray !default;
$color-disabled: $color-ui !default;

$color-brand: $color-blue !default;
$color-positive: $color-green !default;
$color-negative: $color-red !default;
$color-informative: $color-blue !default;

$color-map: (
  'white': $color-white,
  'silver': $color-silver,
  'gray': $color-gray,
  'black': $color-black,
  'red': $color-red,
  'orange': $color-orange,
  'yellow': $color-yellow,
  'lime': $color-lime,
  'green': $color-green,
  'olive': $color-olive,
  'teal': $color-teal,
  'aqua': $color-aqua,
  'blue': $color-blue,
  'navy': $color-navy,
  'fuchsia': $color-fuchsia,
  'purple': $color-purple,
  'maroon': $color-maroon,
  'brand': $color-brand,
  'positive': $color-positive,
  'negative': $color-negative,
  'informative': $color-informative,
  'muted': $color-muted
) !default;

$rwd-type: mobile-first !default;
$rwd-map: (
  'tablet': 768px 1200px,
  'desktop': 1201px
) !default;

$vertical-align-body: 16 !default;
$vertical-align-factor: 1.5 !default;

$font-leading: 1.4 !default;
$font-size-micro: 11 !default;
$font-size-small: 13 !default;
$font-size-base: 15 !default;
$font-size-lead: 18 !default;

$font-family-base: sans-serif !default;
$font-family-headings: $font-family-base !default;
$font-family-monospace: monospace !default;

$font-weight-light: 100 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-headings: $font-weight-bold !default;

$link-underline: true !default;
$link-active: false !default;

$spacing-unit: round($font-size-base * $font-leading) / $vertical-align-body * 1rem !default;
$spacing-map: (
  'quarter': quarter($spacing-unit),
  'third': third($spacing-unit),
  'half': halve($spacing-unit),
  'double': double($spacing-unit),
  'triple': triple($spacing-unit),
  'quadruple': quadruple($spacing-unit)
) !default;

$grid-container: 1020px !default;
$grid-gutter: $spacing-unit !default;

$ui-border-radius: 4px !default;
$ui-padding-vertical: quarter($spacing-unit) !default;
$ui-padding-horizontal: halve($spacing-unit) !default;

$list-menu-color: $color-white !default;
$list-menu-background: $color-link !default;

$table-zebra-background: rgba($color-ui, .5) !default;
$table-hover-background: $table-zebra-background !default;

$navbar-background: $color-black !default;
$navbar-color: $color-white !default;
$navbar-link-color: $color-white !default;
$navbar-link-background: rgba($color-white, .15) !default;

$hero-img: '/img/bg-hero.png' !default;
$hero-size: 40 !default;

$sticky-footer-height: 0 !default;
