input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label,
textarea,
input[type="file"] {
  display: block;
}

input {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
  @include ui-padding;

  border: 1px solid $color-ui;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  bottom: 1px;
  vertical-align: middle;
  margin-right: quarter($spacing-unit);
}

input[disabled] {
  background-color: lighten($color-ui, 5%);
}

.form-inline {
  > label {
    display: inline-block;
  }

  > * {
    margin-right: quarter($spacing-unit);
  }
}

.form-stacked {
  > label {
    display: block;
    margin-bottom: quarter($spacing-unit);
  }

  > label + input,
  > label + select,
  > label + textarea,
  > label:not([for]) {
    margin-bottom: $spacing-unit;
  }
}

.form-horizontal {
  .form-item {
    margin-bottom: $spacing-unit;
  }

  .form-item > label {
    @include ui-padding;

    display: inline-block;
    margin: 0;
    text-align: right;
  }

  .grid-item > .form-item > label {
    padding-left: 0;
  }
}
