.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: #{$hero-size}vh;
  background-image: url(#{$hero-img});
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}
