ul > li,
ol > li {
  margin-left: $spacing-unit;
}

dl > dt {
  font-weight: $font-weight-bold;
}

dd + dt {
  margin-top: halve($spacing-unit);
}

%list-reset,
.list-reset {
  padding-left: 0;
  list-style: none;

  > li {
    margin-left: 0;
  }
}

%list-inline,
.list-inline {
  @extend %list-reset;
  margin-bottom: 0;
  margin-left: quarter($spacing-unit) * -1;

  > li {
    display: inline-block;
    padding-right: quarter($spacing-unit);
    padding-left: quarter($spacing-unit);
  }
}

%list-menu,
.list-menu {
  @extend %list-reset;
  margin-top: quarter($spacing-unit) * -1;

  > li > a {
    @include ui-padding;
    display: block;
    border-radius: $ui-border-radius;
    text-decoration: none;

    &:hover {
      background: $list-menu-background;
      color: $list-menu-color;
    }

    @if $link-active {
      &:active {
        top: 0;
      }
    }
  }
}
