.navbar {
  margin-bottom: double($spacing-unit);
  padding-top: halve($spacing-unit);
  padding-bottom: halve($spacing-unit);
  background: $navbar-background;
  color: $navbar-color;
}

%navbar-link,
.navbar-link {
  @include ui-padding;

  border-radius: $ui-border-radius;
  color: $navbar-link-color;
  text-decoration: none;

  &:hover {
    background-color: $navbar-link-background;
  }
}

.navbar-menu {
  @extend %list-menu;

  @extend %list-inline;

  margin-top: 0;

  > li > a {
    @extend %navbar-link;
  }
}

.navbar-container > .grid > .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
