.hidden {
  display: none !important;
}

.visible,
.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

@mixin rwd-helpers-content($rwd-screen-name) {
  .#{$rwd-screen-name}-hidden {
    display: none !important;
  }

  .#{$rwd-screen-name}-visible,
  .#{$rwd-screen-name}-block {
    display: block !important;
  }

  .#{$rwd-screen-name}-inline-block {
    display: inline-block !important;
  }

  .#{$rwd-screen-name}-inline {
    display: inline !important;
  }
}

@include rwd-helpers;
