%box,
.box {
  padding: $spacing-unit / 2;

  > *:last-child {
    margin-bottom: 0;
  }
}

@mixin box($name, $color, $contrast: 25%) {
  .box-#{$name} {
    color: darken($color, $contrast);
    background: lighten($color, $contrast);
  }
}

@include box("informative", $color-informative);
@include box("positive", $color-positive);
@include box("cautionary", $color-cautionary);
@include box("negative", $color-negative);
