%box,
.box {
  padding: halve($spacing-unit);

  > *:last-child {
    margin-bottom: 0;
  }
}

@mixin box($name, $color, $contrast: 25%) {
  .box-#{$name} {
    @extend %box;
    background: lighten($color, $contrast);
    color: darken($color, $contrast);
  }
}

@include box("informative", $color-informative);
@include box("positive", $color-positive);
@include box("negative", $color-negative);
