.media {
  display: table;

  > *:not(.media-body) {
    margin-right: $spacing-unit;
  }

  > .media-body {
    display: table-cell;
    vertical-align: top;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.media-top {
  > .media-body {
    vertical-align: top;
  }
}

.media-middle {
  > .media-body {
    vertical-align: middle;
  }
}

.media-bottom {
  > .media-body {
    vertical-align: bottom;
  }
}

@each $name, $size in $spacing-map {
  [class~="media-#{$name}"] {
    > *:not(.media-body) {
      margin-right: #{$size};
    }
  }
}

.media-flat {
  > *:not(.media-body) {
    margin-right: 0;
  }
}

.media-reverse {
  direction: rtl;

  > *:not(.media-body) {
    margin-right: 0;
    margin-left: $spacing-unit;
  }

  @each $name, $size in $spacing-map {
    &[class~="media-#{$name}"] {
      > *:not(.media-body) {
        margin-left: #{$size};
      }
    }
  }

  &.media-flat {
    > *:not(.media-body) {
      margin-left: 0;
    }
  }
}
