.no-margin
  margin: 0

.no-margin-top
  margin-top: 0

.no-margin-right
  margin-right: 0

.no-margin-bottom
  margin-bottom: 0

.no-margin-left
  margin-left: 0

.no-margin-sides
  margin-right: 0
  margin-left: 0

.no-margin-ends
  margin-top: 0
  margin-bottom: 0

@each $name, $size in $spacing-map
  .margin-#{name}
    margin: #{size}

  .margin-#{name}-top
    margin-top: #{size}

  .margin-#{name}-right
    margin-right: #{size}

  .margin-#{name}-bottom
    margin-bottom: #{size}

  .margin-#{name}-left
    margin-left: #{size}

  .margin-#{name}-sides
    margin-right: #{size}
    margin-left: #{size}

  .margin-#{name}-ends
    margin-top: #{size}
    margin-bottom: #{size}

.no-padding
  padding: 0

.no-padding-top
  padding-top: 0

.no-padding-right
  padding-right: 0

.no-padding-bottom
  padding-bottom: 0

.no-padding-left
  padding-left: 0

.no-padding-sides
  padding-right: 0
  padding-left: 0

.no-padding-ends
  padding-top: 0
  padding-bottom: 0

@each $name, $size in $spacing-map
  .padding-#{name}
    padding: #{size}

  .padding-#{name}-top
    padding-top: #{size}

  .padding-#{name}-right
    padding-right: #{size}

  .padding-#{name}-bottom
    padding-bottom: #{size}

  .padding-#{name}-left
    padding-left: #{size}

  .padding-#{name}-sides
    padding-right: #{size}
    padding-left: #{size}

  .padding-#{name}-ends
    padding-top: #{size}
    padding-bottom: #{size}
