@function vertical-rhythm-exponent($base, $exponent)
  $value: $base
  @if $exponent > 1
    @for $i from 2 through $exponent
      $value: $value * $base
  @if $exponent < 1
    @for $i from 0 through -$exponent
      $value: $value / $base
  @return $value

@mixin font-size($font-size: $font-size-base)
  font-size: $font-size / $vertical-align-body * 1rem
  line-height: round($font-size * $font-leading) / $vertical-align-body * 1rem

@mixin font-size-heading($step)
  $font-size: $font-size-base
  $line-height: round($font-size * $font-leading)
  $computed-font-size: round($font-size * vertical-rhythm-exponent($vertical-align-factor, $step))

  font-size: $computed-font-size / $vertical-align-body * 1rem
  line-height: $line-height * ceil($computed-font-size / $line-height) / $vertical-align-body * 1rem
  margin-bottom: $line-height / $vertical-align-body * 1rem

  @if $step > 1
    margin-top: $line-height * 2 / $vertical-align-body * 1rem
  @else
    margin-top: $line-height / $vertical-align-body * 1rem

body
  @include font-size($font-size-base)

h1,
.h1
  @include font-size-heading(3)

h2,
.h2
  @include font-size-heading(2)

h3,
.h3
  @include font-size-heading(1)

h4, h5, h6,
.h4, .h5, .h6
  @include font-size-heading(0)

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  font-family: $font-family-headings
  font-weight: $font-weight-headings

strong, em, small, code, hr
  line-height: 1

strong
  font-weight: $font-weight-bold

em
  font-style: italic

a
  color: $color-link
  word-wrap: break-word
  text-decoration: none

  @if $link-underline
    text-decoration: underline

  @if $link-active
    &:active
      position: relative
      top: 1px

sup, sub
  vertical-align: baseline
  position: relative

sup
  top: -0.4em

sub
  bottom: -0.25em

blockquote
  padding-left: $spacing-unit
  border-left: 3px solid $color-ui
  color: $color-muted

  > *:last-child
    margin-bottom: 0

code
  font-family: $font-family-monospace
  white-space: nowrap

pre code
  white-space: pre-wrap

small,
.text-small
  @include font-size($font-size-small)

.text-micro
  @include font-size($font-size-micro)

.text-lead
  @include font-size($font-size-lead)

.text-mono
  font-family: $font-family-monospace

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-light
  font-weight: $font-weight-light

.text-normal
  font-weight: $font-weight-normal

.text-bold
  font-weight: $font-weight-bold

.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize

@if $ui-extras

  .text-positive
    color: $color-positive

  .text-negative
    color: $color-negative

  .text-informative
    color: $color-informative
