html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, hr,
blockquote, pre, table, th, td,
form, fieldset, caption, legend {
  margin: 0;
  padding: 0; }

body {
  font-size: 1rem;
  line-height: 1.375rem; }

h1 {
  font-size: 3.375rem;
  line-height: 4.125rem;
  margin-bottom: 1.375rem;
  margin-top: 2.75rem; }

h2 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin-bottom: 1.375rem;
  margin-top: 2.75rem; }

h3 {
  font-size: 1.5rem;
  line-height: 2.75rem;
  margin-bottom: 1.375rem;
  margin-top: 1.375rem; }

h4, h5, h6 {
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 1.375rem;
  margin-top: 1.375rem; }

p, ul, ol, dl, hr,
blockquote, pre, table {
  margin-bottom: 1.375rem; }

hr {
  margin-top: -1px;
  border: 1px solid; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

strong, em, small, code {
  line-height: 1; }

sup, sub {
  vertical-align: baseline;
  position: relative; }

sup {
  top: -0.4em; }

sub {
  top: 0.4em; }

.container {
  max-width: 68rem;
  margin: auto;
  padding-left: 1.375rem;
  padding-right: 1.375rem; }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -0.6875rem;
  margin-right: -0.6875rem; }

.grid-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-left: 0.6875rem;
  padding-right: 0.6875rem; }

.left-grid {
  -webkit-box-pack: flext-start;
  -webkit-justify-content: flext-start;
      -ms-flex-pack: flext-start;
          justify-content: flext-start; }

.center-grid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.right-grid {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.top-grid {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.middle-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.bottom-grid {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flat-grid {
  margin-left: 0;
  margin-right: 0; }
  .flat-grid > .grid-item {
    padding-left: 0;
    padding-right: 0; }

/* Source:
 * https://github.com/inuitcss/trumps.widths
 */
[class~="1/1"] {
  max-width: 100%;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

[class~="1/2"],
[class~="2/4"],
[class~="3/6"],
[class~="4/8"],
[class~="5/10"],
[class~="6/12"] {
  max-width: 50%;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }

[class~="1/3"],
[class~="2/6"],
[class~="3/9"],
[class~="4/12"] {
  max-width: 33.3333%;
  -webkit-flex-basis: 33.3333%;
      -ms-flex-preferred-size: 33.3333%;
          flex-basis: 33.3333%; }

[class~="2/3"],
[class~="4/6"],
[class~="6/9"],
[class~="8/12"] {
  max-width: 66.6666%;
  -webkit-flex-basis: 66.6666%;
      -ms-flex-preferred-size: 66.6666%;
          flex-basis: 66.6666%; }

[class~="1/4"],
[class~="2/8"],
[class~="3/12"] {
  max-width: 25%;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%; }

[class~="3/4"],
[class~="6/8"],
[class~="9/12"] {
  max-width: 75%;
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%; }

[class~="1/5"],
[class~="2/10"] {
  max-width: 20%;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%; }

[class~="2/5"],
[class~="4/10"] {
  max-width: 40%;
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%; }

[class~="3/5"],
[class~="6/10"] {
  max-width: 60%;
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%; }

[class~="4/5"],
[class~="8/10"] {
  max-width: 80%;
  -webkit-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%; }

[class~="1/6"],
[class~="2/12"] {
  max-width: 16.6666%;
  -webkit-flex-basis: 16.6666%;
      -ms-flex-preferred-size: 16.6666%;
          flex-basis: 16.6666%; }

[class~="5/6"],
[class~="10/12"] {
  max-width: 83.3333%;
  -webkit-flex-basis: 83.3333%;
      -ms-flex-preferred-size: 83.3333%;
          flex-basis: 83.3333%; }

[class~="1/8"] {
  max-width: 12.5%;
  -webkit-flex-basis: 12.5%;
      -ms-flex-preferred-size: 12.5%;
          flex-basis: 12.5%; }

[class~="3/8"] {
  max-width: 37.5%;
  -webkit-flex-basis: 37.5%;
      -ms-flex-preferred-size: 37.5%;
          flex-basis: 37.5%; }

[class~="5/8"] {
  max-width: 62.5%;
  -webkit-flex-basis: 62.5%;
      -ms-flex-preferred-size: 62.5%;
          flex-basis: 62.5%; }

[class~="7/8"] {
  max-width: 87.5%;
  -webkit-flex-basis: 87.5%;
      -ms-flex-preferred-size: 87.5%;
          flex-basis: 87.5%; }

[class~="1/9"] {
  max-width: 11.1111%;
  -webkit-flex-basis: 11.1111%;
      -ms-flex-preferred-size: 11.1111%;
          flex-basis: 11.1111%; }

[class~="2/9"] {
  max-width: 22.2222%;
  -webkit-flex-basis: 22.2222%;
      -ms-flex-preferred-size: 22.2222%;
          flex-basis: 22.2222%; }

[class~="4/9"] {
  max-width: 44.4444%;
  -webkit-flex-basis: 44.4444%;
      -ms-flex-preferred-size: 44.4444%;
          flex-basis: 44.4444%; }

[class~="5/9"] {
  max-width: 55.5555%;
  -webkit-flex-basis: 55.5555%;
      -ms-flex-preferred-size: 55.5555%;
          flex-basis: 55.5555%; }

[class~="7/9"] {
  max-width: 77.7777%;
  -webkit-flex-basis: 77.7777%;
      -ms-flex-preferred-size: 77.7777%;
          flex-basis: 77.7777%; }

[class~="8/9"] {
  max-width: 88.8888%;
  -webkit-flex-basis: 88.8888%;
      -ms-flex-preferred-size: 88.8888%;
          flex-basis: 88.8888%; }

[class~="1/10"] {
  max-width: 10%;
  -webkit-flex-basis: 10%;
      -ms-flex-preferred-size: 10%;
          flex-basis: 10%; }

[class~="3/10"] {
  max-width: 30%;
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%; }

[class~="7/10"] {
  max-width: 70%;
  -webkit-flex-basis: 70%;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%; }

[class~="9/10"] {
  max-width: 90%;
  -webkit-flex-basis: 90%;
      -ms-flex-preferred-size: 90%;
          flex-basis: 90%; }

[class~="1/12"] {
  max-width: 8.3333%;
  -webkit-flex-basis: 8.3333%;
      -ms-flex-preferred-size: 8.3333%;
          flex-basis: 8.3333%; }

[class~="5/12"] {
  max-width: 41.6666%;
  -webkit-flex-basis: 41.6666%;
      -ms-flex-preferred-size: 41.6666%;
          flex-basis: 41.6666%; }

[class~="7/12"] {
  max-width: 58.3333%;
  -webkit-flex-basis: 58.3333%;
      -ms-flex-preferred-size: 58.3333%;
          flex-basis: 58.3333%; }

[class~="11/12"] {
  max-width: 91.6666%;
  -webkit-flex-basis: 91.6666%;
      -ms-flex-preferred-size: 91.6666%;
          flex-basis: 91.6666%; }
