h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, hr,
blockquote, pre, table, th, td,
form, fieldset, caption, legend
  margin: 0
  padding: 0

p, ul, ol, dl, hr,
blockquote, pre, table
  margin-bottom: $spacing-unit

ul ul, ol ol, ul ol, ol ul
  margin-top: 0
  margin-bottom: 0

html
  overflow-y: scroll
  min-height: 100%

body
  @include font-size($base-font-size)
  font-family: $font-family-base
  font-weight: $font-weight-normal
  color: $color-font

h1
  @include font-size-heading(3)
  font-family: $font-family-heading

h2
  @include font-size-heading(2)
  font-family: $font-family-heading

h3
  @include font-size-heading(1)
  font-family: $font-family-heading

h4, h5, h6
  @include font-size-heading(0)
  font-family: $font-family-heading

strong, em, small, code, hr
  line-height: 1

strong
  font-weight: $font-weight-bold

em
  font-style: italic

a
  color: $color-link
  word-wrap: break-word

a:active
  position: relative
  top: 1px

sup, sub
  vertical-align: baseline
  position: relative

sup
  top: -0.4em

sub
  bottom: -0.25em

small
  @include font-size($font-size-small)

blockquote
  padding-left: $spacing-unit
  border-left: 3px solid $color-ui
  font-style: italic
  color: $color-muted

ul > li, ol > li
  margin-left: $spacing-unit

dl > dt
  font-weight: $font-weight-bold

hr
  height: 1px
  border: 0 none
  background-color: $color-ui
  color: $color-ui

table
  width: 100%

thead
  text-align: left

td, th
  padding: quarter($spacing-unit)

code
  font-family: $font-family-monospace
  white-space: nowrap

pre code
  white-space: pre-wrap
