.container
  max-width: $hp-grid-container
  margin: auto
  padding-left: $hp-grid-gutter
  padding-right: $hp-grid-gutter

.grid
  display: flex
  flex: 0 1 auto
  flex-direction: row
  flex-wrap: wrap
  margin-left: hp-half($hp-grid-gutter) * -1
  margin-right: hp-half($hp-grid-gutter) * -1

.grid-item
  display: flex
  flex: 0 1 auto
  flex-direction: column
  flex-grow: 0
  flex-shrink: 0
  padding-left: hp-half($hp-grid-gutter)
  padding-right: hp-half($hp-grid-gutter)

.left-grid
  justify-content: flext-start

.center-grid
  justify-content: center

.right-grid
  justify-content: flex-end

.top-grid
  align-items: flex-start

.middle-grid
  align-items: center

.bottom-grid
  align-items: flex-end

.no-gutter-grid
  margin-left: 0
  margin-right: 0

  > .grid-item
    padding-left: 0
    padding-right: 0
