.h1
  @include font-size-heading(3) !important
.h2
  @include font-size-heading(2) !important
.h3
  @include font-size-heading(1) !important
.h4, .h5, .h6
  @include font-size-heading(0) !important

.micro
  @include font-size($font-size-micro) !important

.text-left
  text-align: left !important
.text-center
  text-align: center !important
.text-right
  text-align: right !important

.text-light
  font-weight: $font-weight-light !important
.text-normal
  font-weight: $font-weight-normal !important
.text-bold
  font-weight: $font-weight-bold !important

.m0
  margin: 0 !important
.mt0
  margin-top: 0 !important
.mr0
  margin-right: 0 !important
.mb0
  margin-bottom: 0 !important
.ml0
  margin-left: 0 !important
.mv0
  margin-top: 0 !important
  margin-bottom: 0 !important
.mh0
  margin-left: 0 !important
  margin-right: 0 !important

.p0
  padding: 0 !important
.pt0
  padding-top: 0 !important
.pr0
  padding-right: 0 !important
.pb0
  padding-bottom: 0 !important
.pl0
  padding-left: 0 !important
.pv0
  padding-top: 0 !important
  padding-bottom: 0 !important
.ph0
  padding-left: 0 !important
  padding-right: 0 !important
