$color-aqua: #7fdbff
$color-blue: #0074d9
$color-navy: #001f3f
$color-teal: #39cccc
$color-green: #2ecc40
$color-olive: #3d9970
$color-lime: #01ff70
$color-yellow: #ffdc00
$color-orange: #ff851b
$color-red: #ff4136
$color-fuchsia: #f012be
$color-purple: #b10dc9
$color-maroon: #85144b
$color-white: #fff
$color-silver: #ddd
$color-gray: #aaa
$color-black: #111

$color-ui: $color-silver !default
$color-font: $color-black !default
$color-link: $color-blue !default
$color-muted: $color-gray !default

$base-font-size: 16 !default
$base-line-height: 1.4 !default

$font-weight-light: 100 !default
$font-weight-normal: 400 !default
$font-weight-bold: 700 !default

$font-size-micro: 11 !default
$font-size-small: 13 !default

$vertical-align-body: 16 // don't edit
$vertical-align-factor: 1.5 !default

$spacing-unit: round($base-font-size * $base-line-height) / $vertical-align-body * 1rem

$grid-container: 68rem !default
$grid-gutter: $spacing-unit !default

