.example {
  padding: $spacing-unit;
  border: 1px solid $color-ui;
  border-bottom: 0;

  > *:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  + pre {
    margin-bottom: $spacing-unit * 2;
  }
}
