.preview-grid {
  @extend %code-block;
  padding: ($spacing-unit / 4) ($spacing-unit / 2);
  background-color: $color-blue;
  color: $color-white;
  text-align: center;

  .grid-pair > .grid-item > & {
    text-align: inherit;
  }

  .example & {
    margin-bottom: 0;
  }

  .preview-grid {
    margin-bottom: 0;
    border-radius: 0;
    background-color: $color-aqua;
  }
}

.preview-grid-large {
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
}
