%code {
  @include font-size(12);
  background-color: $color-black;
  color: #c5c8c6;
  font-family: $font-family-monospace;
}

%code-block {
  @extend %code;
  margin-bottom: $spacing-unit;
  padding: third($spacing-unit);
  border-radius: $ui-border-radius;
  color: $color-white;
}

li > code,
p > code {
  @extend %code;
  margin-right: halve(quarter($spacing-unit));
  margin-left: halve(quarter($spacing-unit));
  padding: halve(quarter($spacing-unit)) quarter($spacing-unit);
}
