.preview-grid {
  @extend %code-block;

  background-color: $color-blue;
  color: $color-white;
  text-align: center;

  .grid-pair > .grid-item > & {
    text-align: inherit;
  }

  .example & {
    margin-bottom: 0;
  }

  .preview-grid {
    margin-bottom: 0;
    border-radius: 0;
    background-color: $color-aqua;
  }
}

.preview-grid-large {
  padding-top: double($spacing-unit);
  padding-bottom: double($spacing-unit);
}

.preview-vertical {
  height: quadruple($spacing-unit);
  margin-bottom: $spacing-unit;
  padding: quarter($spacing-unit);
  background-color: $color-blue;
  color: $color-white;
}
