$font-family-base: 'Roboto';
$font-family-monospace: 'Roboto Mono';
$rwd-type: desktop-first;
$rwd-map: (mobile: 680px);
$navbar-background: #000;
$sticky-footer-height: 60px;

@import '../../../hocus-pocus';

@import 'brand',
        'code',
        'color-block',
        'colorscheme',
        'example',
        'footer',
        'grid-preview',
        'button';
