$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-family-monospace: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$font-size-base: 16;

$ui-padding-vertical-ratio: 0;

$rwd-type: desktop-first;
$rwd-map: (mobile: 680px);

$navbar-background: #000;

$sticky-footer-height: 60px;

$hero-img: 'https://images.unsplash.com/photo-1442120108414-42e7ea50d0b5';

@import '../../../hocus-pocus';

@import 'brand',
        'code',
        'color-block',
        'colorscheme',
        'example',
        'footer',
        'preview';
